.categories {
	display: flex;
	gap: 10px;
	height: 80vh;
	margin: 10px;

	.col {
		display: flex;
		flex-direction: column;
		flex: 1;
		gap: 10px;
	}

	.col-1 {
		flex: 2;
	}

	.row {
		display: flex;
		flex: 1;
		gap: 10px;
		overflow: hidden;
		position: relative;

		button {
			background-color: white;
			border: none;
			bottom: 0;
			cursor: pointer;
			font-weight: 500;
			height: 50px;
			left: 0;
			margin: auto;
			min-width: 100px;
			padding: 10px;
			position: absolute;
			right: 0;
			text-transform: uppercase;
			top: 0;
			width: fit-content;
		}

		img {
			height: 100%;
			object-fit: cover;
			width: 100%;
		}
	}
}
