.contact {
	background-color: #2879fe;
	color: white;
	display: flex;
	justify-content: center;
	padding: 15px;

	.wrapper {
		align-items: center;
		display: flex;
		justify-content: space-between;
		width: 50%;

		input {
			border-radius: 5px 0 0 5px;
			border: none;
			padding: 10px;
		}

		button {
			background: #333;
			border-radius: 0 5px 5px 0;
			border: none;
			color: white;
			padding: 10px;
		}

		.icons {
			display: flex;
			gap: 10px;
		}
	}
}
